/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* UTILITIES */
.df {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LAYOUT */
#app {
    min-height: 100vh;
    flex-direction: column;
}

.content {
    width: 300px;
    background: lightskyblue;
    border-radius: 10px;
}

.email-list li {
    list-style: none;
    margin: 1rem 0;
}

/* SPINNER */
.spinner{
    width: 4rem;
    height: 4rem;
    margin: 2rem;
    border-top: 3px solid rgba(0, 0, 0, .5);
    border-right: 3px solid transparent;
    border-radius: 50%;
    animation: rotation .8s linear infinite;
}

@keyframes rotation{
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
  }